body{margin: 0; font-family: "gorock";}

div.portada{
    width:100% ;
    height: 90vh;
}

video{
    width: 100%;
    height: 100vh;
}
div.logo{
    color: white;
    margin-left: 2%;
    position: relative;
    top:-35%;
    width: 200px;
    height: 20vh;
    background-image: url("./IMGs/logo.png");
    background-repeat: no-repeat;
}

.icono{width: 50vh;height: 50vh;
    margin-left: 1%;
    margin-top: 12%;

}

div.menu{
    width: 100%;
    height: 10vh;
    display: block;
    position: relative;
    top: 0;
    margin: 0px;
    background-image: url("https://thumbs.dreamstime.com/b/fondo-o-textura-de-pizarra-negra-gris-oscuro-losas-granito-negro-panorama-219968927.jpg");
    position: sticky;
}

ul.listamenu{width: 100%;
    text-align: center;
    font-size: 50px; 
    padding:0px;
    margin:0px;
    height: 11vh;
    font-family:"gorock" ;
}

a{text-decoration: none;color: white;}

li{ display:block; width: 10%;float: left;
    margin-left: 5%;margin-right: 4%;
    margin-top: 0.8%;padding-bottom: 10px;
}

li.iuno{color: rgb(255, 255, 255);border-bottom:rgb(182, 84, 27) 20px solid; border-radius: 10px;}
li.idos{color: red;border-bottom:red 10px solid;}
li.itres{color: yellow;border-bottom:yellow 5px solid;width: 15%;}
li.icuatro{color: blue;border-bottom:rgb(177, 80, 80) 10px solid;}
li.icinco{color: green;border-bottom:rgb(182, 84, 27) 20px solid; border-radius: 10px;}

li.iuno a {color: rgb(182, 84, 27);}
li.idos a {color: red;}         /*li.idos a {color: lightgrey;}*/
li.itres a {color: yellow}
li.icuatro a {color: rgb(177, 80, 80);}
li.icinco a {color: rgb(182, 84, 27);}


div.info{
    background-image: url("https://img.freepik.com/foto-gratis/textura-piedra-negra-fondo-pizarra-oscura-vista-superior_88281-1206.jpg?size=626&ext=jpg");
    width: 100%;
    height: 345vh;
    padding-top: 10vh;

    background-size: 100%;
}

div.platos{
    margin: auto;
    height: 180vh;
    width: 80%;
    display: block;   
}

div.intro{
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   font-size: 50px;
   color: darkred;
   margin-bottom: 5vh; 
}

.separador{
    margin-top: -9%;
    margin-left: 29%;
}

div.platuno{
    width: 90%;
    margin: auto;
    height: 40vh;
    margin-bottom: 5vh;
}

div.platdos{
    width: 90%;
    margin: auto;
    height: 40vh;
    margin-bottom: 2vh;
}

div.plattres{
    width: 90%;
    margin: auto;
    height: 40vh;
}
img.imgplato{
    width: 70%;
    height: 50vh;
    float: left;
    margin-top: -14vh;
    margin-left: 20vh;
}

img.emoji{
    width: 300px;
    height: 300px;
}

h2{
    width: 35%;
    color: yellow;
    float: left;
    text-align: center;
    font-size: 70px;
    margin-left: 33%;
    margin-top: -10vh;
}

p{
    font-family: "gorock";
    color: white;
    font-size: 45px;
    margin-top: -31vh;
}
/**/
img.ico{
    width: 13vh;
    height: 9vh;
}
.container-bar{
	width: 100%;
	max-width: 50px;
	position: sticky;
	left: 0;
	top: 25%;
}
.container-bar a{
	display: block;
	width: 50px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	text-decoration: none;
	font-size: 18px;
	position: relative;
	transition: all 500ms ease;
	color: #fff;
}
.container-bar a:hover{
	background: #1c1c1c;
}
.container-bar .fa-facebook{
	background: #3b5998;
	border-radius: 0px 5px 0px 0px;
    width: 14vh;
    height: 10vh;
}
.container-bar .fa-youtube{
	background: #e52a23;
    width: 14vh;
    height: 10vh;
}
.container-bar .fa-twitter{
	background: #00acee;
    width: 14vh;
    height: 10vh;
}
.container-bar .fa-github{
	background: #747473;
    width: 14vh;
    height: 10vh;
}
.container-bar .fa-pinterest{
	background: #c8232c;
	border-radius: 0px 0px 5px 0px;
    width: 14vh;
    height: 10vh;
}
.container-bar #title{
	position: absolute;
	background: #1c1c1c;
	padding: 0px 8px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	border-radius: 3px;
	font-size: 15px;
	top:12px; left: 0px;
	transition: all 500ms ease;
	opacity: 0;
	visibility: hidden;
	z-index: -1;
}
.container-bar a:hover #title{
	opacity: 1;
	visibility: visible;
	left: 64px;
}
.container-bar #title:after{
	position: absolute;
	content: '';
	border-left: 7px solid transparent;
	border-right: 6px solid #1c1c1c;
	border-top: 7px solid transparent;
	border-bottom: 7px solid transparent;
	right: 100%;
	top: 8px;
}
#btn-social{
	display: none;
}
.fa-play{
	cursor: pointer;
	transition: all 0.4s;
	font-size: 12px;
	margin-bottom: 5px;
	display: inline-block;
	transform: rotate(180deg);
	color: #49b0e6;
}
#btn-social:checked ~ .fa-play{
	transform: rotate(0deg);
}
.icon-social{
	transition: all 0.4s;
	transform: translateX(0%);
	box-shadow: 0px 1px 10px rgba(0,0,0,0.3);
}
#btn-social:checked ~ .icon-social{
	transform: translateX(-100%);
	box-shadow: 0px 1px 10px rgba(0,0,0,0.0);
}




@font-face {
    font-family:"Autography" ;
    src: url(./fuentes/Autography.otf);
}

@font-face {
    font-family:"startup" ;
    src: url(./fuentes/StartupLifeDemoRegular.ttf);
}

@font-face {
    font-family: quentin;
    src: url(./fuentes/Quentin.otf);
}

@font-face {
    font-family: "milky";
    src: url(./fuentes/Milky\ Matcha.otf);
}

@font-face {
    font-family: "gorock";
    src: url(./fuentes/Gorock\ Brush.ttf);
}