* {
    margin: 0;
    padding: 0;
}
body {
    height: 100vh;
    background: linear-gradient(45deg,
        rgba(238,174,202),
        rgba(148,187,233)
        );
        background-repeat: 10% 50%;
    /* background-color: black; */
}
.container {
    position: fixed;
    justify-content: center;
    left: 50%;
    top: 50vh;
    transform: translate(-50%, -50%);
}
#dado-1 {
    
}